body {
    margin: 0px;
    padding: 0px;
}
#bar:nth-child(1) {
    text-align: center;
}
#textbar {
    font-size: 22px;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 20px;
    border-width: 1px;
    text-indent: 15px;
    opacity: 0.8;
}
#hd {
    background-color: red;
    border-bottom-style: solid;
    border-bottom-width: 30px;
    margin-bottom: 30px;
}
#logo {
    height: 100px;
    margin: 10px;
}
#start {
    height: 18px;
    width: auto;
    position: relative;
    top: 3px;
    left: -35px;
    border-left-style: solid;
    border-width: 1px;
    padding-left: 5px;
    cursor: pointer;
}
/*
#globalcon {
    background-color: #FFFFFF;
    background-image: linear-gradient(180deg, #FFFFFF 0%, #2abee2 50%, #ffffff 100%);
}
*/
#main {
    border-style: solid;
    border-width: 1px;
    border-radius: 20px;
    text-align: center;
    padding: 20px;
    margin: 10px;
    background-image: url(Images/back10.avif);
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: cover;
}
#sprite {
    width: 250px;
    height: auto;
    display: block;
    margin-bottom: 15px;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    margin: 20px;
}
#spcon {
    padding: 5px;
    margin-bottom: 5px; 
}
#maintype, #sectype{
    width: 60px;
    height: auto;
    margin-bottom: 5px;
    display: inline-block;
}
#pokename {
    font-size: 36px;
    margin-bottom: 20px;
    background-color: rgba(42, 157, 226, 0.8);
    padding: 5px 10px 5px 10px;
    border-style: solid;
    border-width: 1px;
    border-radius: 20px;
}
#card {
    margin: 15px 0px 15px 15px; 
    padding: 10px 0px 0px 0px;
}
#info, #info2 {
    display: inline-block;
    padding: 20px;
    margin: 10px;
    width: 45%;
    margin-top: 0px;
    height: 420px;
    position: relative;
}

#bstat {
    font-size: 30px;
}
.stname {
    width: 85px;  
}
.val {
    left: 5px;
}
.stcon {
    height: 40px;
}
.stname, .bar, .val {
    display: inline-block;
    font-size: 20px;
    position: relative;
}
.bar {
    height: 20px;
    border-style: solid;
    border-width: 1px;
    border-radius: 5px;
    top: 10px;
}
.stname, .val {
    top: 5px;
}
.stname {
    left: 10px;
}
#hp {
    background-color: limegreen;
}
#at {
    background-color: red;
}
#tot {
    font-size: 24px;
    position: relative;
    top: 16px;
}
#def {
    background-color: blue;
}
#sp-at {
    background-color: darkviolet;
}
#sp-def {
    background-color: violet;
}
#speed {
    background-color: yellow;
}
#info2 {
    position: absolute;
    transform: translateX(20%);
}
#audpanel {
    height: 80px;
    margin: 0px;
}
#aud {
    position: relative;
    left: 60px;
    height: 30px;
    bottom: 8px;
}
#cry, #aud {
    display: flex;
}
#cry {
    width: fit-content;
    font-size: 24px;
    transform: translateY(19px);
}
#hg, #wg {
    font-size: 24px;
    margin-top: 20px;
    display: block;
}
#char, #pstevo, #nxtevo {
    font-size: 28px;
}
#nxtevocon {
    padding-bottom: 15px;
}
.minicard {
    width: fit-content;
    text-align: center;
    background-image: url(Images/back11.avif);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 50%;
    border-width: 1px;
    border-radius: 20px;
    border-style: solid;
    margin: 20px 10px 20px 0px;
    cursor: pointer;
}
.evo {
    height: 140px;
    display: block;
}
.evoname {
    font-size: 24px;
    position: relative;
    top: 10px;
}
#pstevo {
    display: block;
}
#pstevo {
    margin-bottom: 15px;
}
@font-face {
    font-family: mf;
    src: url(Fonts/Roboto_Condensed/static/RobotoCondensed-Light.ttf);
}
@font-face {
    font-family: mf_bold;
    src: url(Fonts/Roboto_Condensed/static/RobotoCondensed-Bold.ttf);
}
*{
   font-family: mf;
}
#char, #tot, #bstat, #pstevo, #nxtevo, #Wg, #Hg, #cry {
   font-weight: bold;
}
.stcon{
    border-bottom-style: solid;
    border-bottom-color: rgba(0, 0, 0, 0.5);
    border-bottom-width: 1px;
    width: 120%;
}
#hpcon {
    border-top-style: solid;
    border-top-color: rgba(0, 0, 0, 0.5);
    border-top-width: 1px;
    margin-top: 15px;
}
#wg, #hg, #Wg, #Hg {
    font-size: 24px;
    display: inline-block;
}
#wg, #hg {
    position: relative;
    top: 1px;
}
#char {
    display: block;
}
.evoname, #pokename {
    font-family: serif;
}