#info, #info2, #main {
    width: 90%;
    margin-left: 10px;
    margin-right: 10px;
}
#info2 {
    transform: translateX(0px);
    position: relative;
}
#textbar {
    font-size: 22px;
}
#start {
    height: 20px;
    top: -22px;
    left: 80%;
}
#sprite {
    width: 220px;
    margin-top: 20px;
    margin-bottom: 20px;
}
