#info, #info2, #main {
    margin-right: 0px;
    margin-left: 8px;
}
#info, #info2, #main {
    width: 240px;
}
#info2 {
    transform: translateX(0px);
    position: relative;
}
#bar {
    width: 100%;
}
#textbar {
    width: 90%;
    font-size: 22px;
    margin-left: 5%;
    padding-top: 5px;
    padding-bottom: 5px;
    
}
#start {
    height: 25px;
    top: 4px;
    left: -20px;
}
#sprite {
    width: 200px;
    height: 280px;
}
#logo {
    height: 60px;
}
