#info, #info2, #main {
    width: 95%;
    margin-top: 10px;
}
#info2 {
    position: relative;
}
#textbar {
    font-size: 24px;
    margin-bottom: 10px;
}
#start {
    height: 22px;
}
